#select-item {
    width: 49.8%;
    float: left;
}

#select-item-header {
    height: 10%;
    border: 2px solid rgba(17, 210, 174, 0.72);
    border-radius: 5px;
    text-align: center;
    color: #11d2ae;
    font-size: 2em;
}

#add-bid {
    overflow-y: auto;
    height: 72%;
    border: 2px solid rgba(145, 210, 181, 0.72);
    border-radius: 5px;
    margin: 3px;
}

#bids {
    width: 49.8%;
    /*display: inline;*/
    float: right;
}

#bids-header {
    height: 10%;
    border: 2px solid rgba(32, 83, 200, 0.72);
    border-radius: 5px;
    text-align: center;
    color: #2053c8;
    font-size: 2em;
}

#bids-list {
    overflow-y: auto;
    height: 72%;
    border: 2px solid rgba(71, 154, 210, 0.72);
    border-radius: 5px;
    margin: 3px;
}