#home {
    text-align: center;
}

#add-item {
    text-align: center;
    border: 2px solid rgba(71, 154, 210, 0.72);
    height: 13%;
    width: 70%;
    border-radius: 5px;
    margin: auto;
    position: relative;
    top: 30%;
}

#add-item-table {
    width: 100%;
    text-align: center;
}
#items {
    width: 49.8%;
    float: right;
}

#items-header {
    height: 10%;
    border: 2px solid rgba(32, 83, 200, 0.72);
    border-radius: 5px;
    text-align: center;
    color: #2053c8;
    font-size: 2em;
}